.VNC-wrapper {
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: center;
    align-items: center;
    height:100%;
    width: 100%;
    gap: 50px;
}
.VNC-wrapper button{
    background-color: #fff;
    color: #000;
    box-shadow: 0 2px 5px #184e5e;
    width: 90%;
}
.VNC-wrapper button:focus,
.VNC-wrapper button:focus-visible{
    outline: none;
}
.VNC-wrapper button:hover{
    border: 1px solid #e77436;
    background-color: #e77436;

}

