.VSC-layout{
    background-color: #e9e9e9;
    width: 100%;
    min-width: 100vw;
    min-height: 100vh;
    font-family: monospace;
    box-sizing: border-box; /* ensure padding included in height */
    padding-top: 60px;
    direction: rtl;
    text-align: right;
    padding-bottom: 60px;
    font-size: larger;
}