.loading-text {
  display: flex;
  align-items: center;
  font-size: xx-large;
  font-family: monospace;
  direction: rtl;
  text-align: right;
  font-size: 5vw;
  font-weight: 900;
}

.loading-word {
  direction: rtl;
  text-align: right;
}

.loading-dots {
  width: 3em;          /* reserve space so word doesn't shift */
  display: inline-block;
}