/*========== For The page layout =================*/
.PageLayout{
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    position: fixed;
    inset: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-overflow-scrolling: touch;
    font-family:'Changa', sans-serif;
}
/*========= For The Contetn ====================*/
.PageContent{
    height: calc(90vh - 60px);
    overflow-y: scroll;
    width:77%;
    background-color:  #D5DBDE;
    justify-self: center;
    border-radius: 20px;
    margin-top: 20px;
    border: 22px solid #D5DBDE ;
}

/*========== if it have the optional header ================*/
.PageLayout:has(.optinal-header) .PageContent{
    height:calc(86vh - 60px);
    margin-top: -30px;
    z-index: 20;
    position: relative;
}
.optinal-header{
    margin-top: 20px;
    position: relative;
    background-color: black;
    z-index: 1;
    min-height: 60px;
    height: auto;
    width: 77%;
    border-right: 22px solid black ;
    border-left: 22px solid black  ;
    border-radius: 10px;
    font-family:'Changa', sans-serif;
    direction: rtl;
    
}

@media screen and (max-width: 650px) {
    .PageLayout{
        font-size: small;
    }
}