.categorycard-wrapper{
    justify-self: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px;
    font-family:'Changa', sans-serif;
    background-color: #fff;
    border-radius: 20px;
    width: 80%;
    box-shadow: 0 2px 5px #184e5e;
}
.categorycard-wrapper button{
    border-radius: 0;
    background-color: transparent;
    color: #000000;
    border-right: 2px solid #000000;
    text-align: right;
}
.categorycard-wrapper button:focus,
.categorycard-wrapper button:focus-visible,
.categorycard-wrapper button:hover{
    border: 1px solid #e77436;
    background-color: #e77436;
    outline: none;
}
.adminbutton-wrapper{
    justify-self: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px;
    font-family:'Changa', sans-serif;
    background-color: #fff;
    border-radius: 20px;
    width: 80%;
    box-shadow: 0 2px 5px #184e5e;
    margin-bottom: 30px;
}
.adminbutton-wrapper button{
    background-color: transparent;
    color: #000000;
    border-radius: 0;
    border-right:2px solid #000000 ;
    text-align: right;
 
}
.adminbutton-wrapper button:focus,
.adminbutton-wrapper button:focus-visible,
.adminbutton-wrapper button:hover{
    border: 1px solid #e77436;
    background-color: #e77436;
    outline: none;
}

@media screen and (max-width: 650px){
    .adminbutton-wrapper,
    .categorycard-wrapper{
        font-size: small;
        padding: 20px;
    }
}