.inputbox {
  position: relative;
  width: 100%;
}
.inputbox .prefix {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #555;
  pointer-events: none; /* user can type normally */
}